<ion-header>
  <ion-toolbar color="primary">
    <ion-title>News Search</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
 
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)"></ion-searchbar>
 
  <ion-item>
    <ion-label>Select Searchtype</ion-label>
    <ion-select [(ngModel)]="type" (ionChange)="searchChanged($event)">
      <ion-select-option value="">All</ion-select-option>
      <ion-select-option value="2">Sport</ion-select-option>
      <ion-select-option value="3">Art</ion-select-option>
      <ion-select-option value="1">Music</ion-select-option>
    </ion-select>
  </ion-item>
 
  <ion-list>
 
    <ion-item button *ngFor="let item of (results | async)" [routerLink]="['/', 'news-details', item.id]">
      <ion-avatar slot="start">
        <img [src]="item.imageUrl" *ngIf="item.imageUrl != 'N/A'">
      </ion-avatar>
 
      <ion-label text-wrap>
        <h3>{{ item.title }}</h3>
        {{ item.date }}
      </ion-label>
 
      <ion-icon slot="end" *ngIf="item.Type == 'Sport'" name="football"></ion-icon>
      <ion-icon slot="end" *ngIf="item.Type == 'Art'" name="star"></ion-icon>
      <ion-icon slot="end" *ngIf="item.Type == 'Music'" name="musical-note"></ion-icon>
 
    </ion-item>
 
  </ion-list>
 
</ion-content>